<div class="container">
  <img src="../assets/logo.jpg" alt="logo" class="logo" />
  <h1 class="heading" style="color:#ffffff">Todo List ..</h1>
</div>
<div class="content">
  <p> Add items in your list....</p>
  <div class="input-button">
    <input type="text" placeholder="Type an item" class="input-bar" (keyup.enter)="addItem()" 
    [(ngModel)]="todoValue" />
    <button class="button-bar" (click)="addItem()"> Add Items </button>
  </div>
  <div class="list">
    <ul>
      <li *ngFor="let item of list">
        <input type="checkbox" name="isDone" 
        [(ngModel)]="item.isDone"/>
        {{item.value}}
        <button class="button-del" (click)="deleteItem(item.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>